@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style:none ;
    text-decoration: none;
    font-family:"DM Sans" ;

}
:root{
    --main_color : #ff8716;
    --p_color: #7b7b7b;
    --bg_color: #F3F3F3;
    --white_color: #fff;
    --color_heading: #121416;
    --border_color: #e5e5e5d5;
    --Sale_color: #E51A1A;   
}
body{
    padding-top: 160px;
}
span{
    color: var(--main_color);
}
p{
    color: var(--p_color);
}
h1,h2,h3,h4,h5,h6{
    color: var(--color_heading);
    font-family:"DM Sans";   
}
img{
    width: 100%; 
} 
input,select,button{
    border: none;
    outline: none;
}
.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn{
    padding: 10px 18px;
    text-transform: capitalize;
    border-radius: 2px;
    cursor: pointer;
    background: var(--main_color);
    color: var(--white_color);
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.3s;
}
.btn:hover{
    scale: 1.1;
}
.continere{
    width: 90%;
    margin: auto;
    max-width: 1350px;  
}
/* @media ( max-width:1350px){
    .continere{
        width: 90%;
    }
} */

/* header */
header{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 5px 8px 8px #d1d1d13b ;
    z-index: 1000;
}
header .top_hrader .continere{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
} 
 header .top_hrader .logo{
     width: 100px;
}
header .top_hrader .search_box{
    width: 610px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background: var(--bg_color);
}
header .top_hrader .search_box input{
    height: 55px;
    width: 400px;
    padding: 5px 15px 5px 10px;
    background: var(--bg_color);
} 
header .top_hrader .search_box .select_box{
    position:relative;   
}
header .top_hrader .search_box .select_box::after{
    content: '';
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    right: 0;
    width: 1px;
    height: 50%;
    background: #b9b9b9;
}
header .top_hrader .search_box select{
    height: 55px;
    width: 190px;
    background: var(--bg_color);
    font-size: 15px;
    cursor: pointer;
    padding-left: 10px;
    margin-right: 10px;
}
header .top_hrader .search_box select option{
    font-size: 15px;
}
header .top_hrader .search_box button{
    height: 55px;
    width: 60px;
    background: var(--main_color);
    font-size: 18px;
    cursor: pointer;
}
header .top_hrader .search_box button i{
    color: var(--white_color);
}
header .top_hrader .heder_icons{ 
     display: flex;
    gap: 30px;
}
header .top_hrader .heder_icons .icons{
    position: relative;
    cursor: pointer;
}
header .top_hrader .heder_icons .icons i{
    font-size: 24px;
}
header .top_hrader .heder_icons .icons .count{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: var(--main_color);
    color: var(--white_color);
    border-radius: 100%;
    font-size: 11px;
}
header .botton_header{
    border-top: 1px solid var(--border_color);
}
header .botton_header .continere{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .botton_header nav{
    display: flex;
    align-items: center ;
    gap: 50px;
    height: 60px;
}
header .botton_header .category_nav{
    width: 220px;
    position: relative;
    height: 100%;
}
header .botton_header .category_nav .category_btn{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main_color);
    padding: 0 15px;
    cursor: pointer;
}
header .botton_header .category_nav .category_btn p{
    color: var(--white_color);
    font-weight: 600;
    font-size:15px ;
}
header .botton_header .category_nav .category_btn i{
    color: var(--white_color);
}
/* list */
header .botton_header .category_nav .category_nav_list{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white_color);
    width: 100%;
    border: 1px solid #b9b9b9;
    border-top: 0;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0,100% 0,0 0);
  transition: max-height 0.4s ease, opacity 0.4s ease;
}
header .botton_header .category_nav .category_nav_list.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}
header .botton_header .category_nav .category_nav_list a{
    padding: 14px 10px;
    border-bottom: 1px solid var(--border_color);
    font-size:14px ;
    transition: 0.5s;
}
header .botton_header .category_nav .category_nav_list a:hover{
   background-color: #d0d0d0; 
}


header .botton_header .nav_links{
    display: flex;
    gap: 30px;
}
header .botton_header .nav_links li a{
    color: var(--color_heading);
    transition: 0.3s;
}
header .botton_header .nav_links li:hover a,
header .botton_header .nav_links li.active a{
    color: var(--main_color);
}
/* */
/* slider */
.slider{
    position: relative;
}
.slider .continere{
    display: flex;
    justify-content: space-between;
}
.slider .continere .slide-swp{
    width: 75%;
    overflow: hidden;
    position: relative;
}
.slider .continere .banner_2{
    width: 23%;
    height: 100%;
    object-fit: cover;
}
.slider .continere .banner_2 a{
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
    height: auto !important;
    
}
.slider .continere .slide-swp .swiper-pagination span{
    background: #fff;
    opacity: 1;
    transition: 0.5s;
}
.swiper-pagination-bullet-active{
    background: var(--main_color) !important;
    width: 34px !important;
    height: 8px !important;
    border-radius: 30px !important;

}

/* banner_4 */
.banner_4{
    margin: 40px 0;
}
.banner_4 .continere{
    display:flex ;
    justify-content: space-between;
}
.banner_4 .continere .box{
    width: 24%;
    background: url(../img/bg_banner3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 10px;
    position: relative;
    
}
.banner_4 .continere .box img{
    width: 100px;
    transition: 0.4s;
}
.banner_4 .continere .box:hover img{
    scale: 1.1;
}
.banner_4 .continere .box h5{
    font-size: 18px;
}
.banner_4 .continere .box .sale{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 7px 0;
}
.banner_4 .continere .box .sale span{
    font-size: 25px;
    font-weight: bold;
}
.banner_4 .continere .box h6{
    font-size: 14px;
    font-weight: bold;
}
.banner_4 .continere .box .link_btn{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}

/* start slide */
.slide{
    margin-bottom: 70px;
}
.top_slide{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--main_color);
}
.top_slide h2{
    position: relative;
    text-transform: uppercase;
    background: var(--main_color);
    color: var(--white_color);
    font-size: 18px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}
.top_slide h2::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    z-index: 9;
    border-left: 20px solid transparent;
    background: var(--white_color);
    left: 0;
    border-bottom: 20px solid #e26e02; 

}
.slide .continere{
    position: relative;

}
.slide .continere .mySwiper{
    padding: 10px 0;
} 
.slide .continere .mySwiper .btn_Swip{
    position: absolute;
    top: 10px;
    right: 0;
    background: var(--bg_color);
    color: var(--color_heading);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--border_color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.slide .continere .mySwiper .btn_Swip.prev{
    left: calc(100% - 80px);
}
/* product cart */


.mySwiper{
    overflow: hidden;
}
.product{
    background: #fff;
    padding: 20px 11px;
    box-shadow: 5px 5px 10px #94949428;
    border: 1px solid var(--border_color);
    border-radius: 5px;
    position: relative;
}
.product .sale_product{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    background: #ed0505;
    color: var(--white_color);
    padding: 4px 10px ;
    font-size: 13px;
}
.product .img_product{
    position: relative;
    height: 180px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.product:hover .img_product{
    scale: 1.1;
}
.product .name_product{
    margin-bottom: 10px;
    color: var(--color_heading);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product .name_product a:hover{
    text-decoration: underline;
}
.stars{
    margin-bottom: 10px;
}
.stars i{
    color: var(--main_color);
    font-size: 14px;
}
.price{
    display: flex;
    align-items: center;
    gap: 12px;
}
.price p{
    color: var(--main_color);
    font-weight: bold;
    font-size: 18px;
}
.price .old_price{
    color: var(--p_color);
    text-decoration: line-through;
    font-size: 13px;
    font-weight: normal;
}
.product .icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    
}
.product .icons .icon_product{
    width: 40px;
    height: 40px;
    border: 1px solid var(--border_color);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.product .icons .icon_product:hover{
    background: var(--main_color);
}
.product .icons .icon_product i{
    font-size: 14px;
}
.product .icons .icon_product:hover i{
    color: var(--white_color);
}
.product .icons .btn_add_cart{
    background: var(--main_color);
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--white_color);
    padding: 5px 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid var(--main_color);

}
.product .icons .btn_add_cart i{
    color: var(--white_color);
}
.product .icons .btn_add_cart.active{
    color: var(--color_heading);
    background: transparent;
    pointer-events: none;
}
.product .icons .btn_add_cart.active i{
    color: var(--main_color);
}
.product .icons .btn_add_cart:hover{
    scale: 1.1;
    background: #f47600;
}
/* banners */
.banners{
    margin: 50px 0;
}
.banners .banners_boxs{
    display: flex;
    justify-content:space-between;
}
.banners .banners_boxs .box{
    width: 49%;
}
.banners .banner_3_img .box{
    width: 32%;
}

/* start footer */
 
footer{
    background: var(--color_heading);
}
footer .continere{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
footer .continere .big_row{
    width: 30%;
}
footer .continere .big_row .logo_footer{
    width: 140px;

}
footer .continere .big_row p{
    width: 90%;
    color: #fff;
    font-size: 14px;
    /* line-height: 1.5; */
    margin: 15px 0;
}
footer .continere .big_row .icons_footer{
    display: flex;
    gap: 10px;

}
footer .continere .big_row .icons_footer a{
    background: var(--main_color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    top: 0;
    transition: 0.3s;
}
footer .continere .big_row .icons_footer a:hover{
    top: -5px;
}
footer .continere .big_row .icons_footer a i{
    font-size: 22px;
    color: #fff;
}
footer .continere .row{
    width: 22%;
}
footer .continere .row h4{
    color: var(--white_color);
    font-size: 18px;
    margin-bottom: 20px ;
}
footer .continere .row .links{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
footer .continere .row .links a{
    color: #b1b1b1;
    font-size: 14px;
    position: relative;
    left: 0;
    transition: 0.3s;
}
footer .continere .row .links a:hover{
    left: 8px;
    color: var(--main_color);
}
footer .continere .row .links a i{
   color: var(--main_color);
}


/* cart */
.cart{
    position: fixed;
    top: 0;
    right: -350px;
    bottom: 0;
    z-index: 1100;
    background: var(--white_color);
    border-left: 1px solid var(--border_color);
    width: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}
.active{
    right: 0;
}


.cart .top_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart .top_cart .close_cart i{
    cursor: pointer;
    font-size: 35px;
}
.cart .top_cart h3{
    font-size: 18px;
}
.cart .top_cart span{
    color: var(--color_heading);
}
.cart .items_in_cart{
    padding: 20px 0;
    border-block: 1px solid var(--border_color) ;
    margin-block: 20px;
    height: 100%;
    overflow-y: auto;

}
.cart .items_in_cart .item_cart{
    display: flex;
    gap: 20px;
    align-items:center ;
    justify-content: center;
    height: 125px;
    border-bottom: 1px solid var(--border_color);
}
.cart .items_in_cart .item_cart:last-child{
    border-bottom: 0;
    margin-bottom: 0;
}
.cart .items_in_cart .item_cart img{
    width: 80px;
}
.cart .items_in_cart .item_cart h4{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cart .items_in_cart .item_cart .delet_item i{
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}
.cart .items_in_cart .item_cart .delet_item{
    background: transparent;
}
.cart .items_in_cart .item_cart .delet_item:hover{
    color: #ed0505;
}
.cart .items_in_cart .item_cart .quantity_control{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}
.cart .items_in_cart .item_cart .quantity_control span{
    font-size: 18px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart .items_in_cart .item_cart .quantity_control button{
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid var(--border_color);
}
.cart .bouttom_cart .total{
    display: flex;
    justify-content: space-between;   
    align-items: center;
    margin-bottom: 30px;
}
.cart .bouttom_cart .button_cart{
    display: flex;
    justify-content: space-between;
}
.cart .bouttom_cart .button_cart .btn_cart{
    text-transform: uppercase;
    border: 2px solid var(--main_color);  
    border-radius: 5px;
}
.cart .bouttom_cart .button_cart .trans_bg{
    background: transparent;
    color: var(--color_heading);
}

.close_mune{
    display: none;
}
.open_menu{
    display: none;
}







/* resposev */
@media (max-width:1160px){
      body{
       padding-top: 230px;
    }
    header .top_hrader .continere{
        flex-wrap: wrap;
    }
    header .top_hrader .search_box{
        order: 3;
        width: 80%;
        margin: 20px auto 0;
    }
     header .top_hrader .logo{
        width: 140px;
    }
    header .top_hrader .search_box select{
        width: 200px;
    }
    header .top_hrader .search_box input{
        width: calc(100% -200px);
    }
    header .botton_header .nav_links{
        position: fixed;
        top: 0;
        left: -400px;
        bottom:0;
        width: 400px;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        border: 1px solid rgb(122, 121, 121);
        background: #d0d0d0;
        transition: 0.3s ease-in-out;
    }
    header .botton_header .nav_links li{
        font-size: 18px;
        height: auto;
    }
    .close_mune{
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 30px;
        color: var(--color_heading);
    }
    .open_menu{
        display: block;
        font-size: 25px;
       
    }
    .open_menu i{
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 35px;
        border: 1px solid var(--border_color);
        border-radius: 3px;
        padding-bottom: 2px;

    }
    header .botton_header .nav_links.activ{
        left: 0px;
    }
    header .botton_header .category_nav{
        width: auto;
    }
    header .botton_header .category_nav .category_btn p{
        font-size: 18px;
        margin: 0 18px;
    }
    header .botton_header nav{
        gap: 20px;
    }
    .banner_4 .continere{
        flex-wrap: wrap;
  
    }
    .banner_4 .continere .box{
        width: 49%;
        margin-bottom: 20px;
        justify-content: space-around;
    }
}
@media (max-width:1000px){
    .slider .banner_2{
        display: none;
    }
    .slider .continere .slide-swp{
        width: 100%;
    }
    footer .continere{
        flex-wrap: wrap;
    }
    footer .continere .big_row{
        width: 40%;
        margin-bottom: 20px;
    }
    footer .continere .row{
        width: 30%;
        margin-bottom: 20px;
    }


}
@media (max-width:800px){

    .top_slide h2{
        font-size: 16px;
        padding: 10px 25px;
    }
    .product .name_product{
        font-size: 14px;
    }
    .price p{
        font-size: 16px;
    }
    .price .old_price{
        font-size: 12px;
    }
    .product .icons .btn_add_cart{
        font-size: 14px;
        padding: 3px 5px;
    }
    .banners .banners_boxs{
        flex-wrap: wrap;
    }
    .banners .banners_boxs .box{
        width: 100%;
        margin-bottom: 20px;
    }
    .banners .banners_boxs.banner_3_img .box{
        width: 49%;
    }
    footer .continere .big_row{
        width: 50%;
        margin-bottom: 30px;
    }
    footer .continere .row{
        width: 50%;
        margin-bottom: 30px;
    }
    
    

}

@media (max-width:670px){
    header .botton_header .category_nav{
        display: none;
    }
    header .top_hrader .search_box{
        width: 100%;
    }
    header .top_hrader .search_box select{
        width: 140px;
    }
    header .top_hrader .search_box input{
        width: calc(100% -140px);
    }
    .banner_4 .continere .box{
        width: 100%;
    }
    footer .continere .big_row{
        width: 100%;
        margin-bottom: 30px;
    }
     footer .continere .row{
        width: 100%;
        margin-bottom: 30px;
    }

}